.movie-card-link {
  text-decoration: none;
}

.movie-card {
  min-width: 250px;
  width: 300px;
  transition: 0.3s;
}

.movie-card-header {
  position: relative;
}

.movie-card-image {
  width: 100%;
  border-radius: 3px;
}

.movie-card-title {
  color: azure;
}

.movie-card-body {
  display: none;
  background-color: var(--color-main-dark-lighter);
  padding: 0.5rem 1rem;
  color: azure;
}

.movie-card-text {
  width: 215px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-card-release {
  color: var(--color-text-secondary);
}

.movie-card:hover .movie-card-body {
  display: block;
}

.movie-card:hover {
  transform: scale(105%);
  transition: 0.3s;
  position: relative;
}

.movie-card:hover .movie-card-image {
  border-radius: 0;
}
